USE [master]
GO
/****** Object:  Database [CompanySupplyProduct]    Script Date: 7/14/2020 11:40:12 AM ******/
CREATE DATABASE [CompanySupplyProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanySupplyProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CompanySupplyProduct.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CompanySupplyProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CompanySupplyProduct_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanySupplyProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanySupplyProduct]
GO
/****** Object:  User [IIS APPPOOL\CompanyManagement]    Script Date: 7/14/2020 11:40:12 AM ******/
CREATE USER [IIS APPPOOL\CompanyManagement] FOR LOGIN [IIS APPPOOL\CompanyManagement] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\CompanyManagement]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\CompanyManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Account__F3DBC57391B146B1] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NumberofEmployee] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[ImgPath] [varchar](max) NULL,
	[EstablishmentDay] [date] NULL,
	[CreateDay] [datetime] NULL,
	[CreateByUser] [nvarchar](max) NULL,
	[UpdateDay] [datetime] NULL,
	[UpdateByUser] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL CONSTRAINT [DF_Company_IsDelete]  DEFAULT ((0)),
 CONSTRAINT [PK__Company__2D971C4CEE072304] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Deleted]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deleted](
	[CompanyID] [int] NOT NULL,
	[DeleteByUser] [nvarchar](max) NOT NULL,
	[DeleteDay] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Color] [char](14) NULL,
	[Price] [int] NULL,
	[ImgPath] [varchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK__Product__B40CC6ED2BE65926] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[CompanyID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([userid], [username], [password]) VALUES (1, N'admin', N'123456')
INSERT [dbo].[Account] ([userid], [username], [password]) VALUES (2, N'admin2', N'123123')
INSERT [dbo].[Account] ([userid], [username], [password]) VALUES (3, N'admin3', N'123123')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [Name], [NumberofEmployee], [Address], [ImgPath], [EstablishmentDay], [CreateDay], [CreateByUser], [UpdateDay], [UpdateByUser], [IsDelete]) VALUES (1, N'Kia', 33255, N'Seoul, Korea', N'https://logoxe.net/wp-content/uploads/2019/02/Logo-xe-Kia.jpg', CAST(N'1941-12-01' AS Date), NULL, N'1', CAST(N'2020-06-17 10:41:26.677' AS DateTime), N'1', 1)
INSERT [dbo].[Company] ([CompanyID], [Name], [NumberofEmployee], [Address], [ImgPath], [EstablishmentDay], [CreateDay], [CreateByUser], [UpdateDay], [UpdateByUser], [IsDelete]) VALUES (2, N'Vinfast', 3000, N'LongBien, Hanoi', N'http://www.logo-designer.co/wp-content/uploads/2018/06/2018-vinfast-vietnams-first-carmaker-reveals-logo-design.png', CAST(N'2017-06-20' AS Date), NULL, N'1', CAST(N'2020-06-29 10:56:09.313' AS DateTime), N'1', 0)
INSERT [dbo].[Company] ([CompanyID], [Name], [NumberofEmployee], [Address], [ImgPath], [EstablishmentDay], [CreateDay], [CreateByUser], [UpdateDay], [UpdateByUser], [IsDelete]) VALUES (3, N'Chevrolet', 20000, N'Michigan, US', N'https://thietkelogo.vn/wp-content/uploads/2017/09/logo-1.png', CAST(N'1911-11-03' AS Date), NULL, N'1', CAST(N'2020-06-29 22:59:58.537' AS DateTime), N'test@test.com', 0)
SET IDENTITY_INSERT [dbo].[Company] OFF
INSERT [dbo].[Deleted] ([CompanyID], [DeleteByUser], [DeleteDay]) VALUES (1, N'1', CAST(N'2020-06-17 10:45:50.147' AS DateTime))
INSERT [dbo].[Deleted] ([CompanyID], [DeleteByUser], [DeleteDay]) VALUES (18, N'2', CAST(N'2020-05-26 02:41:21.850' AS DateTime))
INSERT [dbo].[Deleted] ([CompanyID], [DeleteByUser], [DeleteDay]) VALUES (20, N'2', CAST(N'2020-05-26 02:41:57.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Price], [ImgPath], [IsDeleted]) VALUES (1, N'Standard MT 2019', N'brown         ', 299, N'https://img.bankiamorning.com/crop/100x76/2019/06/21/20190621-57aa9f3c-3078-4128-897b-00ab10668dea-repo-f166.jpg', 0)
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Price], [ImgPath], [IsDeleted]) VALUES (2, N'Standard AT 2019', N'green         ', 339, N'https://xe360.vn/images/muaban/xehoi/21613/kia-morning-2019-hatchback-01.jpg', 0)
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Price], [ImgPath], [IsDeleted]) VALUES (3, N'Luxury 2019', N'yellow        ', 393, N'https://previews.123rf.com/images/vladdeep/vladdeep1905/vladdeep190500033/128783258-dubai-uae-january-08-2019-yellow-luxury-supercar-lamborghini-aventador-roadster-and-gelandewagen-.jpg', 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Supply] ([CompanyID], [ProductID], [Quantity]) VALUES (1, 1, 2029)
INSERT [dbo].[Supply] ([CompanyID], [ProductID], [Quantity]) VALUES (1, 2, 6116)
INSERT [dbo].[Supply] ([CompanyID], [ProductID], [Quantity]) VALUES (1, 4, 3661)
ALTER TABLE [dbo].[Deleted]  WITH CHECK ADD  CONSTRAINT [FK_Deleted_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Deleted] CHECK CONSTRAINT [FK_Deleted_Company]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK__Supply__CompanyI__44FF419A] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK__Supply__CompanyI__44FF419A]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK__Supply__ProductI__45F365D3] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK__Supply__ProductI__45F365D3]
GO
/****** Object:  StoredProcedure [dbo].[spAddProductToCompany]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spAddProductToCompany]
@companyid int,
@productid int
as
insert into Supply(companyid, productid) values 
(@companyid, @productid )
GO
/****** Object:  StoredProcedure [dbo].[spAddressGroup]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[spAddressGroup]
as
select address, count(*) as count from Company where IsDelete = 0 group by Address
GO
/****** Object:  StoredProcedure [dbo].[spAddressGroupShow]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spAddressGroupShow]
@groupKey nvarchar(250)
as select CompanyID, Name, EstablishmentDay, NumberofEmployee  from Company where IsDelete=0 and Address like @groupKey

GO
/****** Object:  StoredProcedure [dbo].[spCompanyDetail]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCompanyDetail]
@companyid int
as
select * from Company where Companyid = @companyid and isdelete != 1
GO
/****** Object:  StoredProcedure [dbo].[spCompanyList]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCompanyList]
as select * from Company where isdelete != 1
GO
/****** Object:  StoredProcedure [dbo].[spCompanyPageList]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCompanyPageList]
@pageNumber int,
@numberOfRecord int
as
if(@pageNumber=0 ) select * from Company where IsDelete=0
else
select * from company where isdelete=0 order by Companyid
offset (@pageNumber-1)*@numberOfRecord rows fetch next @numberOfRecord rows only

GO
/****** Object:  StoredProcedure [dbo].[spCountRecords]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spCountRecords]
as
select count(*) from company where IsDelete=0
GO
/****** Object:  StoredProcedure [dbo].[spCreateCompany]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCreateCompany]
@name nvarchar(50),
@noe int,
@address nvarchar(50),
@imgPath varchar(max),
@establishmentday datetime, 
@createbyuser nvarchar(max),
@updatebyuser nvarchar(max)
as 
declare @createday datetime, @updateday datetime
set @createday = GETDATE()
set @updateday = GETDATE()
insert into Company values(
 @name, @noe,@address, @imgPath,@establishmentday, @createday, @createbyuser, @updateday, @updatebyuser, 0);
select cast(scope_identity() as int) 
GO
/****** Object:  StoredProcedure [dbo].[spCreateProduct]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCreateProduct]
@name varchar(50),
@color varchar(50),
@price int,
@imgPath varchar(max)
as
insert into Product(name, color, price, imgpath, isdeleted) values(@name, @color, @price, @imgPath, 0);
select cast(SCOPE_IDENTITY() as int)
GO
/****** Object:  StoredProcedure [dbo].[spDeleteCompany]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spDeleteCompany]
@companyid int,
@userid nvarchar(max)
as 
begin
update Company set isdelete = 1 where CompanyID = @companyid
insert into deleted values(@companyid, @userid, GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[spDeleteProduct]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spDeleteProduct]
@companyid int,
@productid int
as
delete from Supply where CompanyID=@companyid and ProductID=@productid
GO
/****** Object:  StoredProcedure [dbo].[spDeleteProduct4ever]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spDeleteProduct4ever]
@productid int
as
update product set isdeleted = 1 where productid = @productid;
GO
/****** Object:  StoredProcedure [dbo].[spEditCompany]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spEditCompany]
@companyid int,
@name nvarchar(50),
@numberofemployee int,
@address nvarchar(50),
@imgPath varchar(MAX),
@establishmentday datetime,
@updatebyuser nvarchar(max)
as
declare @updateday datetime
set  @updateday = GETDATE()
update Company
set name = @name, NumberofEmployee = @numberofemployee, Address = @address, ImgPath = @imgPath, 
EstablishmentDay = @establishmentday, UpdateDay = @updateday, UpdateByUser = @updatebyuser 
where CompanyID = @companyid

GO
/****** Object:  StoredProcedure [dbo].[spEditProduct]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spEditProduct]
@productid int,
@name varchar(50),
@color varchar(50),
@price int,
@imgPath varchar(max)
as
update Product
set Name=@name, Color=@color, Price=@price, ImgPath=@imgPath
where ProductID=@productid
GO
/****** Object:  StoredProcedure [dbo].[spGetProducts]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spGetProducts]
as
select * from product where isdeleted = 0
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spLogin]
@user varchar(50),
@pass varchar(50)
as
begin
	declare @result int
	declare @res int
	select @res = userid from account where username = @user and password = @pass
	if(@res is not null) select @result = @res
	else set @result = 0
	select @result
end

GO
/****** Object:  StoredProcedure [dbo].[spPageList]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spPageList]
@offset int,
@numRow int
as
begin
	select * from Company where isdelete != 1 order by CompanyID offset @offset rows fetch next @numRow rows only 
end
GO
/****** Object:  StoredProcedure [dbo].[spProductList]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spProductList]
@companyid int
as
select * from product 
where ProductID in(
	select ProductID from Supply where CompanyID = @companyid) and isdeleted = 0
GO
/****** Object:  StoredProcedure [dbo].[spSelectCompany]    Script Date: 7/14/2020 11:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spSelectCompany]
@companyid int
as
select * from Company where Companyid = @companyid and isdelete != 1
GO
USE [master]
GO
