

<h3>{{ componentSelected|uppercase}}</h3>
<a style="cursor: pointer; color: rgb(81, 78, 255);" (click)="onClick('filter')">Filter</a><br>
<a style="cursor: pointer; color: rgb(81, 78, 255);" (click)="onClick('group')">Group</a><br>
<a style="cursor: pointer; color: rgb(81, 78, 255);" (click)="onClick('master-details')">Master details</a><br>
<a style="cursor: pointer; color: rgb(81, 78, 255);" (click)="onClick('column')">Column</a><br>
<a style="cursor: pointer; color: rgb(81, 78, 255);" (click)="onClick('client')">Client</a>
<hr/>
<app-server-side-company *ngIf="componentSelected=='column'"></app-server-side-company>
<app-ag-grid-master-detail *ngIf="componentSelected == 'master-details'"></app-ag-grid-master-detail>
<app-server-side-grid *ngIf="componentSelected == 'filter'"></app-server-side-grid>
<app-ag-grid-group-demo *ngIf="componentSelected == 'group'"></app-ag-grid-group-demo>
<app-ag-grid *ngIf="componentSelected == 'client'"></app-ag-grid>
<!-- <button (click)="onFileExport()">Generate</button> -->